html {
    position: relative;
    min-height: 100%;
    font-size: 0.9rem;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 30px;
    padding-bottom: 29px;
}

code {
    color: #c7254e !important;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 30px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
}

.container .text-muted {
    margin: 5px 0;
}

button:disabled {
    cursor: not-allowed;
}

.btn-group-xs > .btn, .btn-xs {
    padding  : .25rem .4rem;
    font-size  : .875rem;
    line-height  : .5;
    border-radius : .2rem;
}

.vertical-align {
    display: flex;
    align-items: center;
}