target/

# Artifacts from building docker distributions
/docker/test/cluster-broccoli-dist/
/docker/test/templates

# Docker process IDs generated when running integration tests
/cluster-broccoli.did
/nomad.did
/consul.did
/couchdb.did

# Instance storage for dev mode
/instances/

# results from HTTP API testing tool
*run-*

.metals/*
.vscode/*
