.idea
*target
.DS_Store
.sbtserver
logs
*.lock
*run-*
node_modules
docker/test/cluster-broccoli-dist/
docker/test/templates
docker/prod/cluster-broccoli-dist/
docker/prod/templates
cluster-broccoli.did
nomad.did
consul.did
instances
