language: scala
sudo: required
services:
  - docker
jdk:
  - oraclejdk8
env:
  - TEST_PHASE=unit
  - TEST_PHASE=system-broccoli-only
  - TEST_PHASE=system-broccoli-nomad
  - TEST_PHASE=system-broccoli-nomad-consul
script:
  - travis/test
cache:
  directories:
    - $HOME/.m2
    - $HOME/.ivy2
deploy:
  provider: script
  script: travis/deploy
