/*!
 *style inside index.html
 */


body {
  padding-top: 20px;
}

@media (max-width: 979px) {
  /* Remove any padding from the body */
  body {
      padding-top: 0;
  }
}

.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}

.instance-button {
  margin-right: 10px;
  height: 1em;
  display: inline-block;
}

.service-link {
  margin-right: 10px;
}

.service-status-unknown {
  color: #6e808e;
}

.service-status-passing:link, .service-status-passing:visited, .service-status-passing:hover, .service-status-passing:active {
  color: #098552;
}

.service-status-failing:link, .service-status-failing:visited, .service-status-failing:hover, .service-status-failing:active {
  color: #b94a48;
}

.job-status-label {
  width: 80px;
  display: inline-block;
  font-size: 100%;
}

.instance-input-group {
  margin-top: 10px;
  margin-bottom: 10px;
}

[ng-click],
[data-ng-click],
[x-ng-click] {
  cursor: pointer;
}

.nav > li > select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  display: block;
  margin: 15px;
}

a,a:link,a:visited{
  color: inherit;
}
