<div class="container-fixed">
  <form name="questionForm" ng-submit="loginmodal.ok()">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Login</h3>
      </div>
      <div class="panel-body">
        <div class="input-group instance-input-group">
          <span class="input-group-addon" id="basic-addon1">Username</span>
          <input type="text" id="username" class="form-control" aria-describedby="basic-addon1"
            ng-model="loginmodal.credentials.username" focus-field="true">
        </div>
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">Password</span>
          <input type="password" id="password" class="form-control" aria-describedby="basic-addon1"
            ng-model="loginmodal.credentials.password">
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-default" ng-disabled="!broccoliReachable">Submit</button>
      </div>
    </form>
</div>
