<div class="container-fixed">
    <form name="questionForm" ng-submit="instCtrl.ok()">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">New {{instCtrl.templateId}} instance</h3>
            </div>
            <div class="panel-body">
                <div ng-repeat="param in instCtrl.parameters">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">{{param}}</span>
                        <input type="text" class="form-control" placeholder="{{param}}"
                          aria-describedby="basic-addon1" ng-model="instCtrl.paramsToValue[param]">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button" ng-click="instCtrl.ok()">Create instance</button>
                <button class="btn btn-warning" type="button" ng-click="instCtrl.cancel()">Cancel</button>
            </div>
        </div>
    </form>
</div>
