<div class="container-fixed">
  <form name="questionForm" ng-submit="instCtrl.ok()">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{instCtrl.panelTitle}}</h3>
      </div>
      <div class="panel-body">
        <div ng-if="instCtrl.instance != null" style="margin-bottom: 1em">
          <div ng-if="instCtrl.dropdown.templates != null">
            <h4> Template</h4>
            <select ng-model="instCtrl.dropdown.selectedTemplate" class="form-control" aria-describedby="basic-addon1">
              <option value="unchanged" selected="selected">
                unchanged
              </option>
              <option ng-repeat="template in instCtrl.dropdown.templates" value="{{template.id}}">
                {{template.id}}, {{template.version.substring(0,8)}}
              </option>
            </select>
          </div>
        </div>
        <div class="alert alert-danger" role="alert" ng-if="instCtrl.deleteInstance != null">
          Deleting {{instCtrl.instance.id}} will also stop its execution.
        </div>
        <h4> Parameters</h4>
        <div class="input-group instance-input-group">
          <span class="input-group-addon" id="basic-addon1">{{instCtrl.parameters.id.name}}</span>
          <input type="text" class="form-control" placeholder="{{instCtrl.parameters.id.default}}"
                 aria-describedby="basic-addon1" ng-model="instCtrl.paramsToValue[instCtrl.parameters.id.id]"
                 focus-field="true" ng-readonly ="instCtrl.deleteInstance != null" >
        </div>
        <div ng-repeat="param in instCtrl.parameters | toArray | filter:{id:'!id'}:true | orderBy:'name'" class="input-group instance-input-group">
          <span class="input-group-addon" id="basic-addon1">{{param.name}}</span>
          <input id="param-{{param.id}}" type="{{(param.secret && !param._isVisible) ? 'password' : 'text'}}" class="form-control" placeholder="{{param.default}}"
            aria-describedby="basic-addon1" ng-model="instCtrl.paramsToValue[param.id]"
            focus-field="false" ng-readonly ="instCtrl.deleteInstance != null" >
          <a href="#" title="Show password" ng-click="instCtrl.toggleShowSecret(param.id)" class="input-group-addon" id="basic-addon2" ng-if="param.secret">
            <span class="glyphicon glyphicon-eye-{{(param._isVisible) ? 'close' : 'open'}}" aria-hidden="true"></span>
          </a>
          <a href="#" title="Copy to clipboard" ng-click="instCtrl.copySecret(instCtrl.paramsToValue[param.id])" class="input-group-addon" id="basic-addon2" ng-if="param.secret">
            <span class="glyphicon glyphicon-copy" aria-hidden="true"></span>
          </a>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-warning" type="button" ng-click="instCtrl.cancel()">
        Cancel
        </button>
        <button ng-class="instCtrl.deleteInstance? 'btn btn-danger' : 'btn btn-primary'" type="submit" ng-disabled="!broccoliReachable">
        {{instCtrl.okText}}
        </button>
      </div>
    </div>
  </form>
</div>
